[Unit]
Description=tpnoisie - ThinkPad TrackPoint noise maker
After=default.target

[Service]
ExecStart=/home/user/.cargo/bin/tpnoisie auto ~/sounds/directory/ ogg
Restart=on-failure

[Install]
WantedBy=default.target
